tr:hover {
            cursor: pointer;
        }

table {
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  cursor: pointer;
  background-color: #f4f4f4;
  user-select: none;
}

th span {
  margin-left: 6px;
  font-size: 0.8em;
}

th.active {
  background-color: #e0e0e0;
}